<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite1">
    <test name="test1">
        <classes>
            <class name="TestCase1"></class>
        </classes>
    </test>
    <listeners>
        <listener class-name="utils.OverrideIAnnotationTransformer"></listener>
        <listener class-name="utils.TestNGListenerScreen"></listener>
    </listeners>
</suite>